* {
    border-radius: 0 !important;
  }

.userInput{
    background-image: url(./images/garage.jpg);
    background-size: cover;
}

button{
    
    cursor: pointer;
}

input{
    background-color: transparent !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    
}

::placeholder { 
    color: black; 
    font-family: 'Oswald', sans-serif;

} 

form{
    width: 25%;
    background: rgba(0, 0, 0, 0.4);
}
