.userInput{
    background-image: url(./images/garage.jpg);
    background-size: cover;
}

input{
    background-color: transparent !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

form{
    width: 25%;
    background: rgba(0, 0, 0, 0.4);
}
