@import "./form.css";

body{
    color: #888888;
}

.carousel-item{
    width: 50%;
}

.carousel-inner{
    
}

.divider-yellow{
    width: 137px;
	height: 3px;
    background-color: #f5b900;
    
}


#header{
    background-color: lightgray;
}

.services, .shipping{
    background-color: #f9f9f9;
}

.reviews{
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6) ), url(./images/test-bg.png);
    color: white;
}

.shipping i {
    font-size: 40px;
}

.header-title h2{
    font-size: 70px;
    color: #172646;
}


.bottom{
    background-color:  #212020;
    color:#adacac;
}

.bottom i{
    font-size: 18px;
}

.bottom h3{
    color: #fff;
}

.bottom a{
    text-decoration: none;
    color: #adacac;
}